* {
  font-family: "Poppins", sans-serif;
}
.bg {
  width: 100%;

  top: 0;
  background-image: white;
  width: max-width;
}
.card {
  max-width: 100vw;
  margin: auto;
  font-family: "Ubuntu", sans-serif;
}
.boxes {
  border: 5px solid white;
  width: 220px;
  height: 350px;
  display: flex;
  flex-direction: column;
  margin: 0px 35px;
  margin-bottom: 80px;
  align-items: center;
  justify-content: flex-end;
  box-shadow: 0 0 10px silver;
  transition: 300ms all;
  background-size: cover;
  background-position: center;
}
.box-content {
  background-color: #f28585;
  height: 350px;
  text-align: center;
  padding: 0px 0px;
  width: 100%;
  transition: 300ms all;
}
h2 {
  padding: 0px;
}
p {
  padding-bottom: 0px;
}
.boxes:hover {
  transform: scale(1.1);
}
.boxes:hover .box-content {
  background-color: rgb(137, 238, 245);
  color: rgb(0, 0, 0);
}
.showmore {
  cursor: pointer;
  text-decoration: none;
  border-radius: 4px;
  background-color: #c9c9c9;
  padding: 7px;
  margin-top: 0px;
  margin-right: 5px;
}
.my-2 {
  margin: 0px;
  padding-top: 90px;
  padding-left: 78px;
  padding-bottom: 45px;
  font-size: 50px;
  color: #000000;
}
.container {
  width: 100%;
  margin: auto;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
